<header class="main-header">
  <div class="logo-section">
    <img src="../../../../assets/Images/logo.png" alt="AppointCare Logo" class="logo" />
    <span class="logo-text">AppointCare</span>
  </div>

  <nav class="nav-links">
    <a routerLink="/appointments" routerLinkActive="active-link">Appointments</a>
    <a routerLink="/doctors" routerLinkActive="active-link">Doctors</a>
    <a *ngIf="isAdmin" routerLink="/patients" routerLinkActive="active-link">Patients</a>
  </nav>

  <div class="auth-buttons">
    <button *ngIf="!isLoggedIn" routerLink="/login" class="header-button">Login</button>
    <button *ngIf="!isLoggedIn" routerLink="/register" class="header-button">Register</button>
    <button *ngIf="isLoggedIn" (click)="logout()" class="header-button logout-btn">Logout</button>
  </div>
</header>
