<header class="main-header">
  <div class="logo-section">
    <img src="../../../../assets/Images/logo.png" alt="AppointCare Logo" class="logo" />
    <span class="logo-text">AppointCare</span>
  </div>

  <nav class="nav-links">
    <a routerLink="/home" [ngClass]="{ 'active-link': activeSection === 'home' }" (click)="activeSection = 'home'; dropdownOpen = false;">
      {{ "header.home" | translate }}
    </a>

    <div class="dropdown-wrapper">
      <div 
        class="header-link" 
        (click)="toggleDropdown()" 
        [ngClass]="{ 'active-link': activeSection === 'specialists' }">
        {{ "header.specialists" | translate }}
        <i class="pi" [ngClass]="{ 'pi-chevron-down': !dropdownOpen, 'pi-chevron-up': dropdownOpen }" style="font-size: small;"></i>
      </div>

      <!-- Dropdown menu -->
      <ul class="dropdown-menu" style="display: block;" *ngIf="dropdownOpen">
        <li 
          *ngFor="let specialist of specialists" 
          (click)="goToSpecialist(specialist)">
          {{ specialist.name }}
        </li>
      </ul>
    </div>

    <a routerLink="/doctors" [ngClass]="{ 'active-link': activeSection === 'doctors' }" (click)="activeSection = 'doctors'; dropdownOpen = false;">
      {{ "header.doctors" | translate }}
    </a>
  </nav>

  <!-- Language Switcher -->
  <div class="lang-switch-wrapper">
    <p-dropdown 
      [options]="languages" 
      [(ngModel)]="selectedLangObj" 
      (onChange)="switchLang($event.value)" 
      optionLabel="label" 
      class="lang-dropdown">
    </p-dropdown>
  </div>


  <div class="auth-buttons">
  <!-- Show login/register when not logged in -->
  <button *ngIf="!isLoggedIn" routerLink="/login" class="header-button">
    {{"login.title" | translate}}
  </button>
  <button *ngIf="!isLoggedIn" routerLink="/register" class="header-button">
    {{"register.title" | translate}}
  </button>

  <!-- Show profile dropdown when logged in -->
  <div *ngIf="isLoggedIn" class="profile-wrapper" (click)="toggleProfileDropdown()" tabindex="0" (blur)="closeProfileDropdown()">
    <img [src]="userImageUrl" alt="Profile" class="profile-image" />
    <ul *ngIf="isProfileDropdownOpen" class="profile-dropdown">
      <li class="user-info">
        <p><strong>{{ userName }}</strong></p>
        <p><small>{{ userRole }}</small></p>
      </li>
      <li routerLink="/dashboard">
        {{ "header.dashboard" | translate }}
      </li>
      <li (click)="logout()">
        {{ "header.logout" | translate }}
      </li>
    </ul>
  </div>
</div>

</header>
