[b|B]in
[o|O]bj

**/.vs
**/.vscode
**/*.dbmdl
**/*.user
**/*.jfm
**/bin
**/obj
**/node_modules
**/tests/Appointment_System.Application.Tests/TestResults
**/tests/Appointment_System.Application.Tests/bin
**/tests/Appointment_System.Application.Tests/obj
docker-compose*
Dockerfile*
README.md
LICENSE
.git
.gitignore


# Ignore logs
logs/
*.log
*.log.*