<div class="text-center">
  <!-- User Info -->
  <p-avatar image="https://cdn-icons-png.flaticon.com/512/2922/2922561.png" shape="circle" size="xlarge" class="mb-3 shadow-sm"></p-avatar>
  <h5 class="mb-1 fw-semibold text-dark">Nourhan Essam</h5>
  <small class="text-muted">Admin</small>

  <!-- Navigation -->
<ul class="nav flex-column mt-4 text-start">
  <li class="nav-item mb-3">
    <a class="nav-link" routerLink="/dashboard/appointments" routerLinkActive="active-link">📅 Appointments</a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link" routerLink="/dashboard/offices" routerLinkActive="active-link">🏢 Offices</a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link" routerLink="/dashboard/specialists" routerLinkActive="active-link">🩺 Specialists</a>
  </li>
  <li class="nav-item mb-3">
    <a class="nav-link" routerLink="/dashboard/doctors" routerLinkActive="active-link">👨‍⚕️ Doctors</a>
  </li>
</ul>

</div>
