<div class="add-doctor-contianer">
  <div class="dialog-header">
    <div class="title-section">
      <i class="fa-solid fa-user-doctor"></i>
      <span class="dialog-title">Add Doctor</span>
    </div>
    <button class="close-btn" (click)="closeDialog()">✖</button>
  </div>  
  <form [formGroup]="doctorForm" (ngSubmit)="submitForm()" class="doctor-form">
  
    <!-- Full Name -->
    <div class="form-group full-width">
      <label>Full Name</label>
      <input type="text" formControlName="fullName" required>
      <small *ngIf="doctorForm.get('fullName')?.invalid && doctorForm.get('fullName')?.touched">
        This is a required field!
      </small>
    </div>
  
    <!-- Two Columns Layout -->
    <div class="form-row">
      <div class="form-group">
        <label>Email</label>
        <input type="text" formControlName="email">
        <small *ngIf="doctorForm.get('email')?.invalid && doctorForm.get('email')?.touched">
          Enter a valid email.
        </small>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password">
        <small *ngIf="doctorForm.get('password')?.invalid && doctorForm.get('password')?.touched">
          Password must be at least 6 characters long and include: One uppercase letter, one lowercase letter, one number, and one special character (#, $, etc.).
        </small>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Specialization</label>
        <input type="text" formControlName="specialization">
      </div>
      <div class="form-group">
        <label>License Number</label>
        <input type="text" formControlName="licenseNumber">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group">
        <label>Years of Experience</label>
        <input type="number" formControlName="yearsOfExperience">
        <small *ngIf="doctorForm.get('yearsOfExperience')?.errors?.['max']">
          Years of experience cannot exceed 70.
        </small>
        <small *ngIf="doctorForm.get('yearsOfExperience')?.invalid && doctorForm.get('yearsOfExperience')?.touched">
          This is a required field!
        </small>
      </div>
      <div class="form-group">
        <label>Consultation Fee</label>
        <input type="number" formControlName="consultationFee">
        <small *ngIf="doctorForm.get('consultationFee')?.errors?.['max']">
          Fee cannot be more than 5000.
        </small>
        <small *ngIf="doctorForm.get('consultationFee')?.invalid && doctorForm.get('consultationFee')?.touched">
          This is a required field!
        </small>
      </div>
    </div>
  
    <!-- Workplace Type -->
    <div class="form-group full-width">
      <label>Workplace Type</label>
      <select formControlName="workplaceType">
        <option *ngFor="let type of workplaceTypeOptions " [value]="getWorkplaceValue(type)">{{ type }}</option>
      </select>
      <small *ngIf="doctorForm.get('workplaceType')?.invalid && doctorForm.get('workplaceType')?.touched">
        This is a required field!
      </small>
    </div>
  
    <!-- Qualifications Section -->
    <div class="section">
      <div class="section-header" (click)="toggleQualifications()">
        <div>
          <span class="mx-1">Qualifications</span>
          <i class="fa" [ngClass]="{'fa-chevron-up': showQualifications, 'fa-chevron-down': !showQualifications}"></i>
        </div>
        <button type="button" (click)="addQualification()">+</button>
      </div>
      <div *ngIf="showQualifications" formArrayName="qualifications" >
        <p-table [value]= "qualifications.controls" [autoLayout]="true">
            <ng-template pTemplate="header" >
            <tr>
                <th>Qualification Name</th>
                <th>Issuing Institution</th>
                <th>Year Earned</th>
                <th>Action</th>
            </tr>
            </ng-template>
            <ng-template pTemplate="body" let-qualification let-i="rowIndex">
                <tr [formGroupName]="i">

                    <td>
                      <input type="text" formControlName="qualificationName" required>
                      <small *ngIf="qualification.get('qualificationName')?.invalid && qualification.get('qualificationName')?.touched">
                        This is a required field!
                      </small>
                    </td>
                    <td><input type="text" formControlName="issuingInstitution"></td>
                    <td>
                      <input type="number" formControlName="yearEarned" required>
                      <small *ngIf="qualification.get('yearEarned')?.touched && qualification.get('yearEarned')?.errors?.['required']">
                        Year earned is required.
                      </small>
                      
                      <small *ngIf="qualification.get('yearEarned')?.errors?.['min']">
                        Year must be after 1900.
                      </small>
                      
                      <small *ngIf="qualification.get('yearEarned')?.errors?.['max']">
                        Year cannot be in the future.
                      </small>
                    </td>
                    <td><button type="button" (click)="removeQualification(i)">🗑</button></td>
                </tr>
            </ng-template>
        </p-table>
      </div>
    </div>
  
    <!-- Availabilities Section -->
    <div class="section">
      <div class="section-header" (click)="toggleAvailabilities()">
        <div>
          <span class="mx-1">Availabilities</span>
          <i class="fa" [ngClass]="{'fa-chevron-up': showAvailabilities, 'fa-chevron-down': !showAvailabilities}"></i>
        </div>
        <button type="button" (click)="addAvailability()">+</button>
      </div>
      <div *ngIf="showAvailabilities" formArrayName="availabilities" >
        <p-table [value]= "availabilities.controls" [autoLayout]="true">
            <ng-template pTemplate="header" >
              <tr>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-availability let-i="rowIndex">
              <tr [formGroupName]="i">
                <td>
                  <select formControlName="dayOfWeek">
                    <option *ngFor="let day of daysOfWeekOptions" [value]="getDayOfWeekValue(day)">{{ day }}</option>
                  </select>
                </td>
                <td>
                  <input type="time" formControlName="startTime" required>
                  <small *ngIf="availability.get('startTime')?.invalid && availability.get('startTime')?.touched">
                    This is a required field!
                  </small>
                </td>
                <td>
                  <input type="time" formControlName="endTime" required>
                  <small *ngIf="availability.get('endTime')?.invalid && availability.get('endTime')?.touched">
                    This is a required field!
                  </small>
                  <small *ngIf="availability.errors?.['invalidTimeRange'] && (availability.touched || availability.dirty)">
                    End time must be after start time.
                  </small>
                </td>
                <td><button type="button" (click)="removeAvailability(i)">🗑</button></td>
                
              </tr>
            </ng-template>
        </p-table>
      </div>
      
    </div>
  
    <!-- Submit Button -->
    <button type="submit" [disabled]="doctorForm.invalid">Submit</button>
  </form>
  
</div>