<div class="form-container">

<h2>{{ 'forgotPassword.title' | translate }}</h2>
<form [formGroup]="emailForm" (ngSubmit)="submit()">
  <input
    formControlName="email"
    type="email"
    [placeholder]="'forgotPassword.emailPlaceholder' | translate"
  />

  <small *ngIf="emailForm.get('email')?.invalid && emailForm.get('email')?.touched" style="color: red;">
    {{ 'forgotPassword.invalidEmail' | translate }}
  </small>

  <button type="submit" [disabled]="emailForm.invalid">
    {{ 'forgotPassword.submit' | translate }}
  </button>
</form>

<p class="text-center mt-3">
  {{ 'forgotPassword.question' | translate }}
  <a [routerLink]="['/login']" style="cursor: pointer; text-decoration: none;">
    {{ 'forgotPassword.backToLogin' | translate }}
  </a>
</p>

</div>